Package: com.tr1fectacam.bruhshotstm
Name: BruhShotsTM
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 1.0
Architecture: iphoneos-arm
Description: BruhShotsTM, bruh your screenshots and watermark them!
Maintainer: Tr1Fecta
Author: Tr1Fecta
Section: Tweaks
